.profil {
  width: 100vw;
  background-color: $grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;

  &__nav {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
  }
  &__status {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
  }
}

.space-client {
  background: $grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

  &__title {
    margin-bottom: 24 px;
    font-weight: bold;
    font-size: 24px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 319px;
    height: 328px;
    align-items: center;
    justify-content: space-around;

    &__items {
      &__circle {
        width: 192.63px;
        height: 180.01px;
        border-radius: 100px;
        background: $blue-darker;
        top: 474.96px;
        left: 263.98px;

        &__grey {
          width: 166.95px;
          height: 160px;
          border-radius: 100px;
          background: $grey;
          top: 253px;
          left: 486px;

          & > p {
            color: $blue-darker;
          }
        }
      }
      &__item {
        & > label {
          font-size: 18px;
          font-weight: 300;
        }
        &:not(:last-child) {
          margin-bottom: 50px;
        }
        display: flex;
        flex-direction: column;
        &__input {
          width: 227px;
          padding: 10px;
          &:not(:first-child) {
            margin-bottom: 8px;
          }
        }
      }
    }
    &__submit {
      & > a {
        color: $grey;
        margin-top: 8px;
      }
      flex-direction: column;
      align-items: flex-end;
      display: flex;
      & button {
        cursor: pointer;
        &:hover {
          background-color: $blue;
        }
        padding: 10px 24px;
        background-color: $blue-darker;
        & > a {
          font-size: 12px;
          color: $grey;
          text-decoration: none;
        }
      }
    }
  }
}
