.create {
  background-color: #07393c;
  height: 950px;
  color: blanchedalmond;

  &__logo {
    width: 228px;
    height: 105px;
    display: flex;
    margin: auto;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__title {
      display: flex;
      align-content: center;
      font-weight: bold;
      font-size: 24px;
      justify-content: center;
    }
    &__items__2 {
      display: flex;
      flex-direction: row;
      width: 198px;
      justify-content: space-between;
    }
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__mail {
        width: 406px;
        height: 48px;
      }
      &__password {
        width: 406px;
        height: 48px;
      }
    }
    &__page {
      color: white;
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }

  .button {
    color: white;
    text-decoration: none;
  }
}
