.footer {
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;

  &__social-network {
    margin-top: 10px;
    width: 32px;
    height: 25, 78px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
  }

  &__rows {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__footer__categories {
      list-style: none;
      display: flex;
      padding-left: 20px;

      &__item a {
        display: flex;
        text-decoration: none;
        color: $grey;
      }
    }
  }
}
