.footer {
  font-size: 17px;
  height: 230px;
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  &__social-network {
    margin-bottom: 1em;
    display: flex;
    align-items: center;

    & > a {
      margin: 0 15px 10px;
    }
  }

  &__rows {
    display: flex;
    justify-content: space-between;
    &__categories {
      list-style: none;
      padding-right: 10px;
      padding-top: 10px;
      &:not(:first-child) {
        padding-left: 20px;
      }

      &__item {
        &:not(:last-child) {
          margin-bottom: 1em;
        }
        & > a {
          color: $grey;
          text-decoration: none;
        }
      }
    }
  }
}
