$slider-width: 250px;
$slider-height: 140px;
$slider-scale: 1.5;
$slider-transition: 400ms;

.illustration__img {
  width: 100vw;
  height: 400px;
}
.title1 {
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 2em;
  padding-top: 2em;
  font-weight: bolder;
}
// .prev{
// 	position: absolute;
// 	height:30px;
// 	width:20px;
//     top: 180px;
//     left: 0;
// background-color: white;
// }
// .next {
// 	position: absolute;
//     height:30px;
// 	width:20px;
//     top: 180px;
//     right: 0;
//     background-color: white;
// }
.slider {
  $slider: &;
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__inner {
    transition: $slider-transition translate(100px);
    transition: $slider-transition transform;
    transition: $slider-transition transform, $slider-transition translate(100px);
    white-space: nowrap;
    margin: $slider-height/4 0;

    &:hover {
      .tile {
        opacity: 0.3;
        &:hover {
          opacity: 1;
          #{ $slider }--large & {
            transform: scale($slider-scale);
            transform: scale($slider-scale);
          }
        }
      }
    }
  }
  .tile {
    position: relative;
    display: inline-block;
    width: $slider-width;
    height: $slider-height;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    transition: $slider-transition all;
    transform-origin: center left;
    &__img {
      width: $slider-width;
      height: $slider-height;
      object-fit: cover;
    }
    &__details {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      font-size: 10px;
      opacity: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
      transition: $slider-transition opacity;
      &:after,
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:after {
        width: 40px;
        height: 40px;
        border: 2px solid #ecf0f1;
        line-height: 50px;
        text-align: center;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
      }
      &:before {
        content: "▶";
        font-size: 30px;
        line-height: 30px;
        margin: 2px;
        text-align: center;
        z-index: 2;
        color: white;
      }
    }
    &:hover {
      .tile__details {
        opacity: 1;
      }
    }

    &__title {
      position: absolute;
      bottom: 0;
      padding: 10px;
    }
  }
}
.slider--large {
  .tile {
    &:hover {
      ~ .tile {
        transform: translate3d($slider-width/2, 0, 0);
        transform: translate3d($slider-width/2, 0, 0);
      }
    }
  }
}

$sliders-width: 250px;
$sliders-height: 350px;
$sliders-scale: 1.4;
$sliders-transition: 300ms;

.sliders {
  $sliders: &;
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__inner {
    transition: $sliders-transition translate(100px);
    transition: $sliders-transition transform;
    transition: $sliders-transition transform, $sliders-transition translate(100px);
    white-space: nowrap;
    margin: $sliders-height/5 0;

    &:hover {
      .tile {
        opacity: 0.3;
        &:hover {
          opacity: 1;
          #{ $sliders }--large & {
            transform: scale($sliders-scale);
            transform: scale($sliders-scale);
          }
        }
      }
    }
  }
  .tile {
    position: relative;
    display: inline-block;
    width: $sliders-width;
    height: $sliders-height;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    transition: $sliders-transition all;
    transform-origin: center left;
    &__img {
      width: $sliders-width;
      height: $sliders-height;
      object-fit: cover;
    }
    &__details {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      font-size: 10px;
      opacity: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
      transition: $sliders-transition opacity;
      &:after,
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:after {
        width: 40px;
        height: 40px;
        border: 2px solid #ecf0f1;
        line-height: 50px;
        text-align: center;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
      }
      &:before {
        content: "▶";
        font-size: 30px;
        line-height: 30px;
        margin: 2px;
        text-align: center;
        z-index: 2;
        color: white;
      }
    }
    &:hover {
      .tile__details {
        opacity: 1;
      }
    }

    &__title {
      position: absolute;
      bottom: 0;
      padding: 10px;
    }
  }
}
.sliders--large {
  .tile {
    &:hover {
      ~ .tile {
        transform: translate3d($sliders-width/2, 0, 0);
        transform: translate3d($sliders-width/2, 0, 0);
      }
    }
  }
}
