.login {
  background-color: black;
  height: 750px;
  color: blanchedalmond;

  &__logo {
    width: 228px;
    height: 105px;
    display: flex;
    margin: auto;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__title {
      font-weight: bold;
      font-size: 24px;
    }

    & > a {
      color: white;
      margin-right: 235px;
    }

    &__adress {
    }
  }
}
