.slider {
  overflow-x: auto;
  align-items: center;

  &__item {
    flex: 0 0 auto;
    height: 200px;
    background: $black;
    color: #fff;
  }
}

.slider--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.slider--list {
  display: flex;
  flex-wrap: nowrap;
  .slider__item {
    margin: 0 15px;
    width: 200px;
  }
}
