@import "../global/variables.scss";

.footer {
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  &__social-network {
    margin-bottom: 34px;
    display: flex;
    align-items: center;

    & > a {
      margin: 0 15px;
    }
  }

  &__rows {
    display: flex;
    justify-content: space-between;

    &__categories {
      list-style: none;
      &:not(:first-child) {
        padding-left: 20px;
      }

      &__item {
        &:not(:last-child) {
          margin-bottom: 6px;
        }
        & > a {
          color: $grey;
          text-decoration: none;
        }
      }
    }
  }
}
