@import "../global/variables.scss";

.header {
  width: 100vw;
  height: 129px;
  background-color: $black;
  color: $grey;
  display: flex;
  font-size: 18px;
  &__nav {
    width: 100%;
    padding: 0 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
      display: flex;
      & > img {
        margin-right: 10px;
      }
      &__links {
        display: flex;
        align-items: center;
        & > li {
          margin: 0 8px;
        }
      }
    }
    &__right {
      display: flex;
      align-items: center;
      & > img {
        margin: 0 8px;
      }
    }
  }
}
