@import "../global/variables.scss";

$sliders-width: 280px;
$sliders-height: 370px;
$sliders-scale: 1.2;
$sliders-transition: 300ms;
.video__header {
  width: 100vw;
  height: 500px;
  object-fit: cover;
}

.title__form {
  display: flex;
  justify-content: flex-start;
  height: 90px;
  margin-bottom: 1em;
  color: white;
}
.type {
  border: 1px solid $blue-darker;
  border-radius: 0;
  margin-left: 2em;

  font-size: 16px;
  font-weight: bold;
  color: $blue-darker;
  width: 80px;
  height: 24px;
}
.form {
  display: flex;
  align-self: center;
}
.container--title {
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 4.4em;
  padding-top: 2em;
  font-weight: bolder;
  margin-bottom: 1em;
}
.container--second--title {
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 4.4em;
  padding-top: 2em;
  font-weight: bolder;
  margin-bottom: 11.5em;
}
.prev {
  height: 40px;
  width: 30px;
}
.next {
  height: 40px;
  width: 30px;
}
.slider__icon--s {
  display: flex;
  justify-content: space-between;
  margin-bottom: -350px;
  margin-left: 1em;
  margin-right: 1em;
}

:-webkit-scrollbar {
  scrollbar-width: none;
}

.sliders {
  -webkit-overflow-scrolling: touch;
  display: block;
  margin: auto;
  margin-top: 1em;
  $sliders: &;
  overflow: scroll;
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;


  &__inner {
    transition: $sliders-transition translate(100px);
    transition: $sliders-transition transform;
    transition: $sliders-transition transform, $sliders-transition translate(100px);
    white-space: nowrap;
    margin: $sliders-height/2.5 0;

    &:hover {
      .sliders__item {
        opacity: 0.3;
        &:hover {
          opacity: 1;
          #{ $sliders }--large & {
            transform: scale($sliders-scale);
            transform: scale($sliders-scale);
          }
        }
      }
    }
  }

  .sliders__item {
    position: relative;
    display: inline-block;
    width: $sliders-width;
    height: $sliders-height;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    transition: $sliders-transition all;
    transform-origin: center left;
    .sliders__item--img {
      width: $sliders-width;
      height: $sliders-height;
      background-size: cover;
      border-radius: 10px;
    }
    .sliders__item--details {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      font-size: 10px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      transition: $sliders-transition opacity;

      //   &:after,
      //   &:before {
      //     content: "";
      //     position: absolute;
      //     top: 50%;
      //     left: 50%;
      //     transform: translate(-50%, -50%);
      //   }
      //   &:after {
      //     width: 40px;
      //     height: 40px;
      //     border: 2px solid #ecf0f1;
      //     line-height: 50px;
      //     text-align: center;
      //     border-radius: 100%;
      //     background: rgba(0, 0, 0, 0.5);
      //     z-index: 1;
      //   }

      //   &:before {
      //     content: "▶";
      //     font-size: 30px;
      //     line-height: 30px;
      //     margin: 2px;
      //     text-align: center;
      //     z-index: 2;
      //     color: white;
      //   }

    }

    .sliders__item--title {
      visibility: hidden;
    }
    &:hover {
      .sliders__item--details {
        opacity: 1;
        p {
          font-size: 16px;
          visibility: visible;
          color: white;
          line-height: 1.5em;
          text-overflow: ellipsis;
          word-wrap: break-word;
          overflow: hidden;
          max-height: 50px;
          font-weight: bolder;
        }
      }
    }
  }
  .sliders__item--title {
    transform: translateY(180%);
    margin-left: 2em;
  }
}

.sliders--large {
  .sliders__item {
    &:hover {
      ~ .sliders__item {
        transform: translate3d($sliders-width/2, 0, 0);
        transform: translate3d($sliders-width/2, 0, 0);
      }
    }
  }
}

.slide--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  padding: 3em;
}

.slide__item {
  height: 200px;
  width: 100%;
  .slide__item--btn {
    background-color: $blue-darker;
    width: 100px;
    height: 25px;
    display: block;
    margin: auto;
    transform: translateY(-2.5em);
    .slide__item--btn--btn {
      width: 100px;
      height: 25px;
      background-color: $blue-darker;
      color: #ecf0f1;
      border: 1px solid #ecf0f1;
      font-weight: bold;
    }
  }
}
