@import "../global/variables.scss";

.video {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  font-family: Helvetica, sans-serif;
  background-color: $black;

  &__played {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: -1;

    &::-webkit-full-screen {
      width: 100%;
      height: 100%;
      &::-webkit-media-controls-enclosure {
        display: none !important;
      }
    }
    // &:not(:fullscreen){
    //   background-color: red;
    // }
  }
  &__return {
    position: absolute;
    transform: translate(-1200%, -1400%);
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    outline: $grey;
    opacity: 1;
  }
  &__progress {
    position: absolute;
    display: flex;
    width: 100%;
    height: 16px;
    cursor: pointer;
    &__bar {
      position: absolute;
      height: 16px;
      width: 0%;
      transform-origin: right;
      background-color: $blue;
    }
  }
  &__centralbutton--played {
    position: absolute;
    display: flex;
    justify-items: center;
    align-self: center;
    bottom: 50%;
    background-color: transparent;
    border-color: transparent;
    outline: $grey;
    &--played {
      background-color: transparent;
      border-color: transparent;
      outline: $grey;
    }
  }
  &__controller {
    width: 100%;
    display: flex;
    z-index: 6;
    background-color: $black;
    height: 54px;
    padding-left: 1%;
    opacity: 0;

    & > button {
      background-color: transparent;
      border-color: transparent;
      color: $grey;
      font-size: 18px;
      margin-right: 1%;
      text-decoration: none;
      outline: $grey;
      &:hover {
        transform: scale(1.2);
      }
      // &:active {
      //   background-color: $blue;
      // }
    }
    &--pause {
      display: none;
    }
    &--play {
      display: block;
    }
    &__sound {
      position: absolute;
      margin-left: 10%;
      padding-top: 16px;
      width: auto;
      &--on {
        margin-top: 0.75%;
        margin-bottom: auto;
        display: block;
      }
      &--off {
        margin-left: 1%;
        display: none;
      }

      &--volume {
        width: 4%;
        margin-left: 50px;
        height: 12px;
        position: absolute;
        margin: auto;
        display: none;
        &--range {
          position: absolute;
          height: 10px;
          outline: $grey;
          -webkit-appearance: none;
          border-radius: 5px;
          margin-left: 20%;
          background-color: $grey;
          box-shadow: inset 0 3px 18px rgba(0, 0, 0, 0.6);
          // display: none;
          &::-webkit-slider-runnable-track {
            background-color: $blue;
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
            outline: none;
          }
        }

        &--mute {
          display: none;
        }
        &__screen {
          padding-left: 800%;
          width: 4%;
          &--fullScreen {
            display: block;
          }
          &--midScreen {
            display: none;
          }
        }
      }
    }
  }
}
