@import "../global/variables.scss";

.video {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100vh;
  &__played {
    width: 100%;
    height: 100%;
    display: flex;
  }
  &__controller {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    text-align: center;
    z-index: 1;
    background-color: $black;
    height: 54px;
    &--nomserie {
      color: $grey;
    }
  }
  &__progress {
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 12px;
    &__bar {
      position: absolute;
      height: 12px;
      width: 0%;
      transform-origin: right;
      background-color: $blue;
    }
  }
}
