@import "../global/variables.scss";

.video {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  font-family: Helvetica, sans-serif;
  background-color: $grey;
  &__played {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: -1;
    &::-webkit-full-screen {
      width: 100%;
      height: 100%;
      &::-webkit-media-controls-enclosure {
        display: none !important;
      }
    }
    &:not(:fullscreen) {
      background-color: red;
    }
  }
  &__return {
    position: absolute;
    transform: translate(-1200%, -1400%);
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    outline: $grey;
    opacity: 1;
  }
  &__progress {
    position: absolute;
    display: flex;
    width: 100%;
    height: 16px;
    cursor: pointer;
    &__bar {
      position: absolute;
      height: 16px;
      width: 0%;
      transform-origin: right;
      background-color: $blue;
    }
  }
  &__centralbutton--played {
    position: absolute;
    display: flex;
    justify-items: center;
    align-self: center;
    bottom: 50%;
    background-color: transparent;
    border-color: transparent;
    outline: $grey;
    &--played {
      background-color: transparent;
      border-color: transparent;
      outline: $grey;
    }
  }
  &__controller {
    width: 100%;
    display: flex;
    z-index: 6;
    background-color: $black;
    height: 54px;
    padding-left: 1%;
    opacity: 1;

    & > button {
      background-color: transparent;
      border-color: transparent;
      color: $grey;
      font-size: 18px;
      margin-right: 1%;
      text-decoration: none;
      outline: $grey;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        background-color: $blue;
      }
    }
    &--pause {
      display: none;
    }
    &--play {
      display: block;
    }
    &__sound {
      &--on {
        margin-top: 0.75%;
        margin-bottom: auto;
        display: block;
      }
      &--off {
        margin-left: 1%;
        display: none;
      }
    }

    &--title {
      color: $grey;
      text-align: center;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-family: Helvetica, sans-serif;
      font-weight: 500;
    }
    &--volume {
      background-color: transparent;
      border-color: transparent;
      // color: $grey;
      -webkit-appearance: none;
      // align-items: center;
      display: none;
      &::-webkit-slider-runnable-track {
        background-color: $blue;
        border-color: transparent;
      }
    }
    &--mute {
      display: none;
    }
  }
  &__screen {
    &--fullScreen {
      margin-left: 70%;
      width: 4%;
      opacity: 1;
    }
    &--midScreen {
      opacity: 0;
    }
  }
}
