.client-space {
  background-color: #07393c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .client-space__logo {
    margin-bottom: 30px; }
  .client-space__title {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 24px;
    color: #f0edee; }
  .client-space__form__items {
    margin-bottom: 32px; }
    .client-space__form__items__item {
      display: flex;
      flex-direction: column; }
      .client-space__form__items__item a {
        color: #f0edee;
        font-size: 14px; }
      .client-space__form__items__item > label {
        color: #f0edee;
        font-size: 18px;
        font-weight: 300; }
      .client-space__form__items__item:not(:last-child) {
        margin-bottom: 14px; }
      .client-space__form__items__item__input {
        width: 406px;
        padding: 14px; }
        .client-space__form__items__item__input:not(:first-child) {
          margin-bottom: 8px; }
  .client-space__form__submit {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center; }
    .client-space__form__submit > a {
      color: #f0edee;
      margin-top: 8px; }
    .client-space__form__submit button {
      cursor: pointer;
      padding: 10px 24px;
      background-color: #07393c; }
      .client-space__form__submit button:hover {
        background-color: #2c666e; }
      .client-space__form__submit button > a {
        font-size: 18px;
        color: #f0edee;
        text-decoration: none; }

.input-wrapper {
  display: flex;
  justify-content: space-between; }
  .input-wrapper .client-space__form__items__item__input {
    width: 100%; }

.client-space__form__submit__button {
  width: 145px;
  height: 38px;
  background: #2c666e;
  border: 1px solid #f0edee;
  text-transform: uppercase;
  color: #f0edee;
  font-size: 18px; }
