.head {
  width: 100vw;
  height: 100px;
  background-color: #0a090c;
  color: #f0edee;
  display: flex;
  font-size: 18px; }
  .head__nav {
    width: 100%;
    padding: 0 94px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .head__nav__left {
      display: flex;
      justify-content: space-between;
      width: 600px;
      height: 90px; }
      .head__nav__left > img {
        align-self: center;
        height: 50px; }
      .head__nav__left__links {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .head__nav__left__links > a {
          text-decoration: none;
          color: white;
          padding: 1em 1em 0 1em;
          width: 130px;
          height: 30px; }
    .head__nav__right {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 0.5em; }
      .head__nav__right__up {
        color: yellow; }
      .head__nav__right__in {
        color: pink; }

.main {
  display: flex;
  flex-direction: column;
  background-color: black; }
  .main__box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f0edee;
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
    .main__box1__title {
      color: #beffc7;
      font-size: 32px;
      padding: 5%; }
    .main__box1__body__logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20%;
      justify-content: safe; }
      .main__box1__body__logo img {
        display: flex;
        align-items: center;
        width: 70px;
        height: auto;
        justify-content: space-evenly; }
      .main__box1__body__logo p {
        font-size: 16px; }
  .main__box2 {
    display: flex;
    flex-direction: column;
    color: #f0edee;
    font-size: 24px;
    font-weight: bold;
    padding: 10%; }
    .main__box2__title {
      color: #beffc7;
      font-size: 36px;
      padding: 10%; }
    .main__box2__text {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .main__box2__text__little {
        width: 570,61px;
        height: 261px; }
  .main__box3 {
    display: flex;
    flex-direction: column;
    color: #beffc7;
    font-size: 24px;
    font-weight: bold;
    padding: 10%; }
    .main__box3__title {
      font-size: 36px;
      padding: 10px;
      display: flex;
      justify-content: center; }
