.video__header {
  width: 100vw;
  height: 500px;
  object-fit: cover; }

.title__form {
  display: flex;
  justify-content: flex-start;
  height: 90px;
  margin-bottom: 1em;
  color: white; }

.type {
  border: 1px solid #07393c;
  border-radius: 0;
  margin-left: 2em;
  font-size: 16px;
  font-weight: bold;
  color: #07393c;
  width: 80px;
  height: 24px; }

.form {
  display: flex;
  align-self: center; }

.container--title {
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 4.4em;
  padding-top: 2em;
  font-weight: bolder;
  margin-bottom: 1em; }

.container--second--title {
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 4.4em;
  padding-top: 2em;
  font-weight: bolder;
  margin-bottom: 11.5em; }

.prev {
  height: 40px;
  width: 30px; }

.next {
  height: 40px;
  width: 30px; }

.slider__icon--s {
  display: flex;
  justify-content: space-between;
  margin-bottom: -350px;
  margin-left: 1em;
  margin-right: 1em; }

::-webkit-scrollbar {
  display: none; }

.sliders {
  display: block;
  margin: auto;
  margin-top: 1em;
  overflow: scroll;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sliders__inner {
    transition: 300ms translate(100px);
    transition: 300ms transform;
    transition: 300ms transform, 300ms translate(100px);
    white-space: nowrap;
    margin: 148px 0; }
    .sliders__inner:hover .sliders__item {
      opacity: 0.3; }
      .sliders__inner:hover .sliders__item:hover {
        opacity: 1; }
        .sliders--large .sliders__inner:hover .sliders__item:hover {
          transform: scale(1.2);
          transform: scale(1.2); }
  .sliders .sliders__item {
    position: relative;
    display: inline-block;
    width: 280px;
    height: 370px;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    transition: 300ms all;
    transform-origin: center left; }
    .sliders .sliders__item .sliders__item--img {
      width: 280px;
      height: 370px;
      background-size: cover;
      border-radius: 10px; }
    .sliders .sliders__item .sliders__item--details {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      font-size: 10px;
      opacity: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      transition: 300ms opacity; }
      .sliders .sliders__item .sliders__item--details:after, .sliders .sliders__item .sliders__item--details:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .sliders .sliders__item .sliders__item--details:hover .sliders__item--details {
        opacity: 1; }

.sliders--large .sliders__item:hover ~ .sliders__item {
  transform: translate3d(140px, 0, 0);
  transform: translate3d(140px, 0, 0); }

.slide--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  padding: 3em; }

.slide__item {
  height: 200px;
  width: 100%; }
  .slide__item .slide__item--btn {
    background-color: #07393c;
    width: 80px;
    height: 25px;
    display: block;
    margin: auto;
    transform: translateY(-2.5em); }
    .slide__item .slide__item--btn .slide__item--btn--btn {
      width: 80px;
      height: 25px;
      background-color: #07393c;
      color: #ecf0f1;
      border: 1px solid #ecf0f1;
      font-weight: bold; }
