@import "global/reset.scss";
@import "global/variables.scss";
@import "components/main.scss";
@import "components/footer.scss";
@import "components/header.scss";
@import "components/slider.scss";
@import "components/client-space.scss";

body {
  font-family: Helvetica, sans-serif;
}
