* {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.footer {
  font-size: 17px;
  height: 230px;
  background-color: #0a090c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0; }
  .footer__social-network {
    margin-bottom: 1em;
    display: flex;
    align-items: center; }
    .footer__social-network > a {
      margin: 0 15px 10px; }
  .footer__rows {
    display: flex;
    justify-content: space-between; }
    .footer__rows__categories {
      list-style: none;
      padding-right: 10px;
      padding-top: 10px; }
      .footer__rows__categories:not(:first-child) {
        padding-left: 20px; }
      .footer__rows__categories__item:not(:last-child) {
        margin-bottom: 1em; }
      .footer__rows__categories__item > a {
        color: #f0edee;
        text-decoration: none; }

.header {
  width: 100vw;
  height: 100px;
  background-color: #0a090c;
  color: #f0edee;
  display: flex;
  font-size: 18px; }
  .header__nav {
    width: 100%;
    padding: 0 94px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__nav__left {
      display: flex;
      justify-content: space-between;
      width: 600px;
      height: 90px; }
      .header__nav__left > img {
        align-self: center;
        height: 50px; }
      .header__nav__left__links {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .header__nav__left__links > a {
          text-decoration: none;
          color: white;
          padding: 1em 1em 0 1em;
          width: 130px;
          height: 30px; }
    .header__nav__right {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 0.5em; }
      .header__nav__right > img {
        margin: 0 8px; }
      .header__nav__right__menu {
        width: 30px;
        height: 50px; }
        .header__nav__right__menu:hover .header__nav__right__menu--open {
          display: block; }
        .header__nav__right__menu--img {
          margin-left: 10px;
          margin-top: 20px; }
        .header__nav__right__menu--open {
          position: absolute;
          height: 100px;
          top: 80px;
          right: 0;
          display: none; }
          .header__nav__right__menu--open > a {
            text-decoration: none;
            color: white;
            font-size: 14px;
            cursor: pointer;
            line-height: 1.4; }
        .header__nav__right__menu:hover .header__nav__right__menu--open {
          display: block; }

.video__header {
  width: 100vw;
  height: 500px;
  object-fit: cover; }

.title__form {
  display: flex;
  justify-content: flex-start;
  height: 90px;
  margin-bottom: 1em;
  color: white; }

.type {
  border: 1px solid #07393c;
  border-radius: 0;
  margin-left: 2em;
  font-size: 16px;
  font-weight: bold;
  color: #07393c;
  width: 80px;
  height: 24px; }

.form {
  display: flex;
  align-self: center; }

.container--title {
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 4.4em;
  padding-top: 2em;
  font-weight: bolder;
  margin-bottom: 1em; }

.container--second--title {
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 4.4em;
  padding-top: 2em;
  font-weight: bolder;
  margin-bottom: 11.5em; }

.prev {
  height: 40px;
  width: 30px; }

.next {
  height: 40px;
  width: 30px; }

.slider__icon--s {
  display: flex;
  justify-content: space-between;
  margin-bottom: -350px;
  margin-left: 1em;
  margin-right: 1em; }

::-webkit-scrollbar {
  display: none; }

.sliders {
  display: block;
  margin: auto;
  margin-top: 1em;
  overflow: scroll;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sliders__inner {
    transition: 300ms translate(100px);
    transition: 300ms transform;
    transition: 300ms transform, 300ms translate(100px);
    white-space: nowrap;
    margin: 148px 0; }
    .sliders__inner:hover .sliders__item {
      opacity: 0.3; }
      .sliders__inner:hover .sliders__item:hover {
        opacity: 1; }
        .sliders--large .sliders__inner:hover .sliders__item:hover {
          transform: scale(1.2);
          transform: scale(1.2); }
  .sliders .sliders__item {
    position: relative;
    display: inline-block;
    width: 280px;
    height: 370px;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    transition: 300ms all;
    transform-origin: center left; }
    .sliders .sliders__item .sliders__item--img {
      width: 280px;
      height: 370px;
      background-size: cover;
      border-radius: 10px; }
    .sliders .sliders__item .sliders__item--details {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      font-size: 10px;
      opacity: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      transition: 300ms opacity; }
      .sliders .sliders__item .sliders__item--details:after, .sliders .sliders__item .sliders__item--details:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .sliders .sliders__item .sliders__item--details:hover .sliders__item--details {
        opacity: 1; }

.sliders--large .sliders__item:hover ~ .sliders__item {
  transform: translate3d(140px, 0, 0);
  transform: translate3d(140px, 0, 0); }

.slide--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  padding: 3em; }

.slide__item {
  height: 200px;
  width: 100%; }
  .slide__item .slide__item--btn {
    background-color: #07393c;
    width: 80px;
    height: 25px;
    display: block;
    margin: auto;
    transform: translateY(-2.5em); }
    .slide__item .slide__item--btn .slide__item--btn--btn {
      width: 80px;
      height: 25px;
      background-color: #07393c;
      color: #ecf0f1;
      border: 1px solid #ecf0f1;
      font-weight: bold; }

.video {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  font-family: Helvetica, sans-serif;
  background-color: #0a090c; }
  .video__played {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: -1; }
    .video__played::-webkit-full-screen {
      width: 100%;
      height: 100%; }
      .video__played::-webkit-full-screen::-webkit-media-controls-enclosure {
        display: none !important; }
  .video__return {
    position: absolute;
    transform: translate(-1200%, -1400%);
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    outline: #f0edee;
    opacity: 1; }
  .video__progress {
    position: absolute;
    display: flex;
    width: 100%;
    height: 16px;
    cursor: pointer; }
    .video__progress__bar {
      position: absolute;
      height: 16px;
      width: 0%;
      transform-origin: right;
      background-color: #2c666e; }
  .video__centralbutton--played {
    position: absolute;
    display: flex;
    justify-items: center;
    align-self: center;
    bottom: 50%;
    background-color: transparent;
    border-color: transparent;
    outline: #f0edee; }
    .video__centralbutton--played--played {
      background-color: transparent;
      border-color: transparent;
      outline: #f0edee; }
  .video__controller {
    width: 100%;
    display: flex;
    z-index: 6;
    background-color: #0a090c;
    height: 54px;
    padding-left: 1%;
    opacity: 1; }
    .video__controller > button {
      background-color: transparent;
      border-color: transparent;
      color: #f0edee;
      font-size: 18px;
      margin-right: 1%;
      text-decoration: none;
      outline: #f0edee; }
      .video__controller > button:hover {
        transform: scale(1.2); }
    .video__controller--pause {
      display: none; }
    .video__controller--play {
      display: block; }
    .video__controller__sound--on {
      margin-top: 0.75%;
      margin-bottom: auto;
      display: block; }
    .video__controller__sound--off {
      margin-left: 1%;
      display: none; }
    .video__controller--title {
      color: #f0edee;
      text-align: center;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-family: Helvetica, sans-serif;
      font-weight: 500; }
    .video__controller--volume {
      background-color: transparent;
      border-color: transparent;
      outline: #f0edee;
      -webkit-appearance: none;
      display: none; }
      .video__controller--volume::-webkit-slider-runnable-track {
        background-color: #2c666e;
        border-color: transparent; }
    .video__controller--mute {
      display: none; }
    .video__controller__screen {
      margin-left: 70%;
      width: 4%; }
      .video__controller__screen--fullScreen {
        opacity: 1; }
      .video__controller__screen--midScreen {
        opacity: 0; }

.client-space {
  background-color: #07393c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .client-space__logo {
    margin-bottom: 30px; }
  .client-space__title {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 24px;
    color: #f0edee; }
  .client-space__form__items {
    margin-bottom: 32px; }
    .client-space__form__items__item {
      display: flex;
      flex-direction: column; }
      .client-space__form__items__item a {
        color: #f0edee;
        font-size: 14px; }
      .client-space__form__items__item > label {
        color: #f0edee;
        font-size: 18px;
        font-weight: 300; }
      .client-space__form__items__item:not(:last-child) {
        margin-bottom: 14px; }
      .client-space__form__items__item__input {
        width: 406px;
        padding: 14px; }
        .client-space__form__items__item__input:not(:first-child) {
          margin-bottom: 8px; }
  .client-space__form__submit {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center; }
    .client-space__form__submit > a {
      color: #f0edee;
      margin-top: 8px; }
    .client-space__form__submit button {
      cursor: pointer;
      padding: 10px 24px;
      background-color: #07393c; }
      .client-space__form__submit button:hover {
        background-color: #2c666e; }
      .client-space__form__submit button > a {
        font-size: 18px;
        color: #f0edee;
        text-decoration: none; }

.input-wrapper {
  display: flex;
  justify-content: space-between; }
  .input-wrapper .client-space__form__items__item__input {
    width: 100%; }

.client-space__form__submit__button {
  width: 145px;
  height: 38px;
  background: #2c666e;
  border: 1px solid #f0edee;
  text-transform: uppercase;
  color: #f0edee;
  font-size: 18px; }

.profil {
  width: 100vw;
  background-color: #f0edee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%; }
  .profil__nav {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    color: #07393c; }
  .profil__status {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center; }

.account-client {
  background: #f0edee;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40.125em; }
  .account-client__titleOne {
    font-size: 24px;
    align-items: center;
    font-weight: bold;
    color: black; }
  .account-client__jauge {
    display: flex;
    flex-direction: column;
    border: 1px solid #f0edee;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 319px;
    height: 328px;
    align-items: center;
    justify-content: space-around;
    color: #2c666e; }
    .account-client__jauge__txt {
      font-size: 14px;
      text-decoration: underline;
      margin-left: 50%; }
    .account-client__jauge__body {
      width: 100%;
      padding-bottom: 50%;
      background: #b4c0be;
      position: relative;
      border-top-left-radius: 100% 200%;
      border-top-right-radius: 100% 200%;
      overflow: hidden;
      margin-bottom: 70px; }
      .account-client__jauge__body__fill {
        position: absolute;
        top: 100%;
        width: inherit;
        height: 100%;
        background: #2c666e;
        transform-origin: center top;
        transform: rotate(0.35turn);
        transition: transform 0.2s ease-out; }
      .account-client__jauge__body__cover {
        width: 75%;
        height: 150%;
        background: #f0edee;
        border-radius: 50%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 25%;
        box-sizing: border-box; }
        .account-client__jauge__body__cover strong {
          font-size: 24px;
          font-weight: bold; }
  .account-client__title {
    margin-bottom: 24 px;
    font-weight: bold;
    font-size: 24px; }
  .account-client__form {
    display: flex;
    flex-direction: column;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 319px;
    height: 328px;
    align-items: center;
    justify-content: space-around; }
    .account-client__form__items .span {
      left: 52px; }
    .account-client__form__items__item {
      display: flex;
      flex-direction: column; }
      .account-client__form__items__item > label {
        font-size: 18px;
        font-weight: 300; }
      .account-client__form__items__item:not(:last-child) {
        margin-bottom: 50px; }
      .account-client__form__items__item__input {
        width: 227px;
        padding: 10px; }
        .account-client__form__items__item__input:not(:first-child) {
          margin-bottom: 8px; }
    .account-client__form__submit {
      flex-direction: column;
      align-items: flex-end;
      display: flex; }
      .account-client__form__submit > a {
        color: #f0edee;
        margin-top: 8px; }
      .account-client__form__submit button {
        cursor: pointer;
        padding: 10px 24px;
        background-color: #07393c; }
        .account-client__form__submit button:hover {
          background-color: #2c666e; }
        .account-client__form__submit button > a {
          font-size: 12px;
          color: #f0edee;
          text-decoration: none; }

body {
  font-family: Helvetica, sans-serif;
  background-color: #0a090c; }
